.project {
    max-width: 370px;
    border-color: var(--project-card-bg);
    box-shadow:  var(--box-shadow);
    border-radius: 10px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    color: var(--project-card-text)
}