.ant-btn-default {
    background-color: #5C62EC;
    border: none;
}

.ant-result .ant-result-title {
    color: #5C62EC;
    font-weight: bold;
}
.ant-result .ant-result-subtitle {
    color: #5C62EC;
    font-weight: 500;
}

.ant-form-item .ant-form-item-label >label {
    color:#5C62EC;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

a, a:link, a:visited  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

:root {
    --black: #171718;
    --black-border:#26292D;
    --white: #fff;
    --purplr: #5C62EC;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purplr);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    
}

.dark {
    --page-bg: #252526;
    --text-color: var(--white);

    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


html, body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    min-height: 100vh;
   

    background-color: var(--page-bg);
    color: var(--text-color);
}

#root {
    min-height: 100vh;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    color: var(--title-1);
    text-align: center;
}



/* Dark mode btn */



/*Header*/



/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}



/*Project detalis*/

.project-detalis {
    margin: 0 auto;
    max-width: 865px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-detalis__cover {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-detalis__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.btn-outline {
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid black;
    background-color:  var(--white);
    color: var(--black);

    display: flex;
    column-gap: 10px;
    align-items: center;

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

/* Footer */



/* Skills */

.title-2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.content-list {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
    margin: 0 auto;
}

.content-list a {
    color: var(--accent)
}

.content-list__item {
    font-size: 18px;
}