.btn-outline {
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid black;
    background-color:  var(--white);
    color: var(--black);

    display: flex;
    column-gap: 10px;
    align-items: center;

    transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}