.header {
    background-color: var(--dark-bg);
    color: var(--header-text);
    min-height: 695px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url('./../../img/header.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.header_wrapper {
    max-width: 660px;
    padding: 0 15px;
}

.header_title {
    font-size: 40px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 20px;
}

.header_text {
    font-size: 15px;
    line-height: 1.333;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    cursor: pointer;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;

    transition: opcity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}